.overflow-hidden
  overflow: hidden

.accent 
  color: $accent
  &--bg
    display: inline-block
    background-color: $yellow
    padding-left: .3em
    padding-right: .3em
    padding-top: .05em
    margin-left: .3em

.text-center
  text-align: center

.text-left
  text-align: left

@for $i from 1 through 15
  .z-#{$i}
    z-index: $i