---
title: flat
page: flat
hero: {
  title: {
    title: 'Охрана <strong>квартир</strong>',
    mod: 'title--lg'
  },
  colClass: 'col-12',
  breadcrumbs: {
    list: [
      { link: 'Главная' },
      { item: '-' },
      { link: 'Услуги' },
      { item: '-' },
      { link: 'Охрана квартир', modLink: 'is-active' }
    ]
  },
  bgImage: 'bg-hero-flat.jpg'
}
sectionFeatures: {
  title: 'Нам можно <strong>доверять</strong>',
  subttl: 'Мы работаем на рынке охранных услуг з 1997 года и соответственно <br>
знаем, как предоставить заказчикам надежную <br>
и эффективную услугу.'
}
sectionCall: {
  mod: 's-call s-call--mt'
}
---
{% extends "layouts/_layout.html" %}

{% block content %}
  {% include "partials/_hero.html" %}
  {% include "partials/sections/_s-packege.html" %}
  {% include "partials/sections/_s-tech.html" %}
  {% include "partials/sections/_s-features-color.html" %}
  {% include "partials/sections/_s-appartment.html" %}
  {% include "partials/sections/_s-features.html" %}
  {% include "partials/sections/_s-call.html" %}
{% endblock %}