---
title: Index page
hero: {
  upttl: 'Мгновенное реагирование <span class="accent">до 15 минут</span>',
  title: '«Берег» - вы в надежных руках!',
  subttl: 'Полный  спектр услуг охранной и пожарной сигнализации, 
систем контроля доступа и видеонаблюдения «под ключ»',
  btns: [
    {
      title: 'Заказать защиту',
      combine: true,
      icon: 'shield',
      href: false
    },
    {
      link: 'Узнать об услугах'
    }
  ],
  features: {
    items: [
      { icon: 'money-stack-and-sand-clock', title: 'Рассрочка <br>
до 3 месяцев   15 ' },
      { icon: 'rating', title: '4000+ счастливых <br>
клиентов' },
      { icon: 'dollar-sign-and-piles-of-coins', title: 'Демократичные цены <br>
от 200 грн/месяц' }
    ]
  }
}
---
{% extends "layouts/_layout.html" %}

{% block content %}
  {% include "partials/_header.html" %}
  {% include "partials/_hero.html" %}
  {% include "partials/sections/_s-features.html" %}
  {% include "partials/sections/_s-services.html" %}
  {% include "partials/sections/_s-call.html" %}
  {% include "partials/sections/_s-clients.html" %}
{% endblock %}