---
title: Index page
page: home
hero: {
  bgImage: 'bg-hero-home-01.jpg',
  mod: 'hero--slider',
  slider: true,
  upttl: {
    title: 'Мгновенное реагирование <strong class="accent accent--bg">до 15 минут</strong>'
  },
  title: {
    title: '«Берег» - вы в надежных руках!',
    mod: 'title--bold'
  },
  subttl: {
    title: 'Полный  спектр услуг охранной и пожарной сигнализации, 
  систем контроля доступа и видеонаблюдения «под ключ»'
  },
  btns: [
    {
      title: 'Заказать защиту',
      combine: true,
      icon: 'shield',
      href: false
    },
    {
      link: 'Узнать об услугах'
    }
  ],
  features: {
    items: [
      { icon: 'money-stack-and-sand-clock', title: 'Рассрочка <br>
до 3 месяцев   15 ' },
      { icon: 'rating', title: '4000+ счастливых <br>
клиентов' },
      { icon: 'dollar-sign-and-piles-of-coins', title: 'Демократичные цены <br>
от 200 грн/месяц' }
    ]
  }
}
services: {
  cols: true,
  list: [
    {
      title: 'Охрана квартир',
      subttl: 'Охрана квартир 24/7 <br>
Время прибытия
3-7 минут',
      img: '01.png',
      price: 'От <strong>500</strong>грн/месяц'
    },
    {
      title: 'Охрана домов',
      subttl: 'Синхронизация со смартфоном, <br>
SMS уведомления. Время прибытия
3-7 минут',
      img: '02.png',
      price: 'От <strong>500</strong>грн/месяц'
    },
    {
      title: 'Охрана МАФов, киосков, <br>
кафе и ресторанов',
      subttl: 'Охрана квартир 24/7<br>
Время прибытия 3-7 минут',
      img: '03.png',
      price: 'От <strong>400</strong>грн/месяц'
    },
    {
      title: 'Физическая охрана объектов',
      subttl: 'Группы быстрого реагирования,<br> 
профессионалы своего дела',
      img: '04.png',
      price: 'От <strong>500</strong>грн/месяц'
    },
    {
      title: 'Охрана автомобилей',
      subttl: 'GPS-трекер для круглосуточного<br>
контроля и наблюдения за автомобилем, ',
      img: '05.png',
      price: 'От <strong>500</strong>грн/месяц'
    },
    {
      title: 'Тревожная сигнализация',
      subttl: 'Охрана объектов 24/7<br>
Время прибытия 3-7 минут ',
      img: '06.png',
      price: 'От <strong>400</strong>грн/месяц'
    },
    {
      title: 'Пожарная сигнализация',
      subttl: 'Группы быстрого реагирования, <br>
профессионалы своего
дела',
      img: '07.png',
      price: 'От <strong>500</strong>грн/месяц'
    },
    {
      title: 'Система видеонаблюдения',
      subttl: 'Устанавливаем все виды систем <br>
видеонаблюдения в зависимости<br>
от пожеланий клиента',
      img: '08.png',
      price: 'От <strong>500</strong>грн/месяц'
    },
    {
      title: 'Система контроля
и управления доступом',
      subttl: 'Устанавливается с учетом пожеланий клиента<br>
и использованием современных технологий.',
      img: '09.png',
      price: 'От <strong>500</strong>грн/месяц'
    },
    {
      title: 'Охрана магазинов',
      subttl: 'Комплекс технических средств<br>
с дополнительной тревожной кнопкой<br>
и пожарной сигнализацией',
      img: '10.png',
      price: 'От <strong>500</strong>грн/месяц'
    },
    {
      title: 'Охрана офисов',
      subttl: 'Выявляем слабые места вашего предприятия, <br>
с точки зрения безопасности и предоставляем<br>
комплексное решение',
      img: '11.png',
      price: 'От <strong>400</strong>грн/месяц'
    },
    {
     link: true
    }
  ]
}
---
{% extends "layouts/_layout.html" %}

{% block content %}
  {% include "partials/_hero.html" %}
  {% include "partials/sections/_s-features.html" %}
  {% include "partials/sections/_s-services.html" %}
  {% include "partials/sections/_s-call.html" %}
  {% include "partials/sections/_s-clients.html" %}
  {% include "partials/sections/_s-tech.html" %}
  {% include "partials/sections/_s-news.html" %}
  {% include "partials/sections/_s-seo.html" %}
{% endblock %}