---
title: services
page: services
hero: {
  title: {
    title: 'Наши <strong>услуги</strong>',
    mod: 'title--lg'
  },
  colClass: 'col-12',
  breadcrumbs: {
    list: [
      { link: 'Главная' },
      { item: '-' },
      { link: 'Услуги', modLink: 'is-active' }
    ]
  },
  bgImage: 'bg-hero-services.jpg'
}
sectionCall: {
  mod: 's-call s-call--mt'
}
services: {
  list: [
    {
      title: 'Охрана квартир',
      subttl: 'Охрана квартир 24/7 <br>
Время прибытия
3-7 минут',
      text: 'Огромный опыт и слаженная работа наших сотрудников, позволяет обеспечить надежную охрану объектов. Время прибытия
3-7 минут. Установка осущетсвляется от 2 часов в заранее согласованное с вами время. Синхронизация охранной системы
со смартфоном (SMS уведомления, поддержка смартфонов на базе iOS и Android).',
      img: '01.png',
      price: 'От <strong>500</strong>грн/месяц',
      mod: 'service-item--hor'
    },
    {
      title: 'Охрана домов',
      subttl: 'Синхронизация со смартфоном, <br>
SMS уведомления. Время прибытия
3-7 минут',
      text: 'Огромный опыт и слаженная работа наших сотрудников, позволяет обеспечить надежную охрану объектов. Время прибытия
3-7 минут. Установка осущетсвляется от 2 часов в заранее согласованное с вами время. Синхронизация охранной системы
со смартфоном (SMS уведомления, поддержка смартфонов на базе iOS и Android).',
      img: '02.png',
      price: 'От <strong>500</strong>грн/месяц',
      mod: 'service-item--hor'
    },
    {
      title: 'Охрана МАФов, киосков, <br>
кафе и ресторанов',
      subttl: 'Охрана квартир 24/7<br>
Время прибытия 3-7 минут',
      text: 'Огромный опыт и слаженная работа наших сотрудников, позволяет обеспечить надежную охрану объектов. Время прибытия
3-7 минут. Установка осущетсвляется от 2 часов в заранее согласованное с вами время. Синхронизация охранной системы
со смартфоном (SMS уведомления, поддержка смартфонов на базе iOS и Android).',
      img: '03.png',
      price: 'От <strong>400</strong>грн/месяц',
      mod: 'service-item--hor'
    },
    {
      title: 'Физическая охрана объектов',
      subttl: 'Группы быстрого реагирования,<br> 
профессионалы своего дела',
      text: 'Огромный опыт и слаженная работа наших сотрудников, позволяет обеспечить надежную охрану объектов. Время прибытия
3-7 минут. Установка осущетсвляется от 2 часов в заранее согласованное с вами время. Синхронизация охранной системы
со смартфоном (SMS уведомления, поддержка смартфонов на базе iOS и Android).',
      img: '04.png',
      price: 'От <strong>500</strong>грн/месяц',
      mod: 'service-item--hor'
    },
    {
      title: 'Охрана автомобилей',
      subttl: 'GPS-трекер для круглосуточного<br>
контроля и наблюдения за автомобилем, ',
      text: 'Огромный опыт и слаженная работа наших сотрудников, позволяет обеспечить надежную охрану объектов. Время прибытия
3-7 минут. Установка осущетсвляется от 2 часов в заранее согласованное с вами время. Синхронизация охранной системы
со смартфоном (SMS уведомления, поддержка смартфонов на базе iOS и Android).',
      img: '05.png',
      price: 'От <strong>500</strong>грн/месяц',
      mod: 'service-item--hor'
    },
    {
      title: 'Тревожная сигнализация',
      subttl: 'Охрана объектов 24/7<br>
Время прибытия 3-7 минут ',
      text: 'Огромный опыт и слаженная работа наших сотрудников, позволяет обеспечить надежную охрану объектов. Время прибытия
3-7 минут. Установка осущетсвляется от 2 часов в заранее согласованное с вами время. Синхронизация охранной системы
со смартфоном (SMS уведомления, поддержка смартфонов на базе iOS и Android).',
      img: '06.png',
      price: 'От <strong>400</strong>грн/месяц',
      mod: 'service-item--hor'
    },
    {
      title: 'Пожарная сигнализация',
      subttl: 'Группы быстрого реагирования, <br>
профессионалы своего
дела',
      text: 'Огромный опыт и слаженная работа наших сотрудников, позволяет обеспечить надежную охрану объектов. Время прибытия
3-7 минут. Установка осущетсвляется от 2 часов в заранее согласованное с вами время. Синхронизация охранной системы
со смартфоном (SMS уведомления, поддержка смартфонов на базе iOS и Android).',
      img: '07.png',
      price: 'От <strong>500</strong>грн/месяц',
      mod: 'service-item--hor'
    },
    {
      title: 'Система видеонаблюдения',
      subttl: 'Устанавливаем все виды систем <br>
видеонаблюдения в зависимости<br>
от пожеланий клиента',
      text: 'Огромный опыт и слаженная работа наших сотрудников, позволяет обеспечить надежную охрану объектов. Время прибытия
3-7 минут. Установка осущетсвляется от 2 часов в заранее согласованное с вами время. Синхронизация охранной системы
со смартфоном (SMS уведомления, поддержка смартфонов на базе iOS и Android).',
      img: '08.png',
      price: 'От <strong>500</strong>грн/месяц',
      mod: 'service-item--hor'
    },
    {
      title: 'Система контроля
и управления доступом',
      subttl: 'Устанавливается с учетом пожеланий клиента<br>
и использованием современных технологий.',
      text: 'Огромный опыт и слаженная работа наших сотрудников, позволяет обеспечить надежную охрану объектов. Время прибытия
3-7 минут. Установка осущетсвляется от 2 часов в заранее согласованное с вами время. Синхронизация охранной системы
со смартфоном (SMS уведомления, поддержка смартфонов на базе iOS и Android).',
      img: '09.png',
      price: 'От <strong>500</strong>грн/месяц',
      mod: 'service-item--hor'
    },
    {
      title: 'Охрана магазинов',
      subttl: 'Комплекс технических средств<br>
с дополнительной тревожной кнопкой<br>
и пожарной сигнализацией',
      text: 'Огромный опыт и слаженная работа наших сотрудников, позволяет обеспечить надежную охрану объектов. Время прибытия
3-7 минут. Установка осущетсвляется от 2 часов в заранее согласованное с вами время. Синхронизация охранной системы
со смартфоном (SMS уведомления, поддержка смартфонов на базе iOS и Android).',
      img: '10.png',
      price: 'От <strong>500</strong>грн/месяц',
      mod: 'service-item--hor'
    },
    {
      title: 'Охрана офисов',
      subttl: 'Выявляем слабые места вашего предприятия, <br>
с точки зрения безопасности и предоставляем<br>
комплексное решение',
      text: 'Огромный опыт и слаженная работа наших сотрудников, позволяет обеспечить надежную охрану объектов. Время прибытия
3-7 минут. Установка осущетсвляется от 2 часов в заранее согласованное с вами время. Синхронизация охранной системы
со смартфоном (SMS уведомления, поддержка смартфонов на базе iOS и Android).',
      img: '11.png',
      price: 'От <strong>400</strong>грн/месяц',
      mod: 'service-item--hor'
    }
  ]
}
---
{% extends "layouts/_layout.html" %}

{% block content %}
  {% include "partials/_hero.html" %}
  {% include "partials/sections/_s-serivces-list.html" %}
  {% include "partials/sections/_s-call.html" %}
{% endblock %}