$fz:    16px
$fz-sm: 14px
$fz-xs: 13px

$c-text: #8b8b8b

$black: #000
$white: #fff

$white-dark: #f0f0f0

$accent: #0c6638
$accent-light: #3a845e
$yellow: #fbb03f

$gray: #454545
$gray-light: #b3b3b3
$gray-lighten: #c9c9c9


$header-top-height: 91px
$header-top-height-md: 67px
$header-top-height-xs: 49px

$header-bottom-height: 70px
$header-bottom-height-md: 58px
$header-bottom-height-xs: 58px

$header-height: $header-top-height + $header-bottom-height
$header-height-md: $header-top-height-md + $header-bottom-height-md
$header-height-xs: $header-top-height-xs + $header-bottom-height-xs
