<!-- begin header -->
<header class="header js-header">
  <div class="header__top">
    <div class="container">
      <div class="header__inner">
        <div class="header__logo">
          <a href="/" class="logo">
            <img class="js-lazy" alt="" data-src="./img/logo.png"/>
          </a>
        </div>

        <div class="header__contacts">
          <!-- begin header-contacts -->
          <div class="header-contacts">
            <div class="header-contact">
              <a href="tel:+380960070497">+38 (096) 007-04-97</a>
            </div>
            <div class="header-contact">
              <a href="tel:+380445598680">+38 (044) 559-86-80</a>
            </div>
            <div class="header-contact">
              <a href="tel:+380442002303">+38 (044) 200-23-03</a>
            </div>
          </div>
          <!-- end header-contacts -->
        </div>

        <div class="header__lang">
          <!-- begin lang -->
          <div class="lang">
            <div class="lang__title">Ru</div>
            <div class="lang__list">
              <a href="#" class="lang__link">Ua</a>
              <a href="#" class="lang__link">En</a>
            </div>
          </div>
          <!-- end lang -->
        </div>
      </div>
    </div>
  </div>

  <div class="header__bottom">
    <div class="container">
      <div class="header__inner">
        <div class="header__nav js-menu">
          <button class="header__nav-close js-menu-close"></button>

          <div class="header__nav-in">

            {% include "partials/_nav.html" %}

            <div class="header__contacts-mob">
              <!-- begin header-contacts -->
              <div class="header-contacts">
                <div class="header-contact">
                  <a href="tel:+380960070497">+38 (096) 007-04-97</a>
                </div>
                <div class="header-contact">
                  <a href="tel:+380445598680">+38 (044) 559-86-80</a>
                </div>
                <div class="header-contact">
                  <a href="tel:+380442002303">+38 (044) 200-23-03</a>
                </div>
              </div>
              <!-- end header-contacts -->
            </div>
          </div>
        </div>

        <div class="header__btn">
          {{ mixins.btn(
            title = 'Заказать звонок',
            mod = '',
            combine = true,
            href = false,
            icon = mixins.icon('support')
          ) }}
        </div>

        <div class="header__burger">
          <button class="burger js-burger"><span></span></button>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- end header -->