<!-- begin hero -->
<section class="hero{% if hero.mod %} {{ hero.mod }}{% endif %}">
  {% if hero.slider %}
  <div class="hero__slider">
    <!-- begin slider -->
    <div class="slider__wrap slider--hero__wrap">
      <div class="slider slider--hero js-slider" data-slider="hero">
        {% for i in range(0, 4) %}
        <div class="slide">
          {% include "partials/_hero-inner.html" %}
        </div>
        {% endfor %}
      </div>

     {#  <div class="slider__pagination js-pagination">
        {% for i in range(0, 4) %}
        <button class="slider__dot">{{ i + 1 }}</button>
        {% endfor %}
      </div> #}
    </div>
    <!-- end slider -->
  </div>
  {% else %}
  
  {% include "partials/_hero-inner.html" %}
  {% endif %}
</section>
<!-- end hero -->