<!-- begin scroll-text -->
<div class="scroll-text scrollbar js-scrollbar">
 <article>
    <h1>Lorem ipsum dolor sit amet.</h1>

    <ol>
      <li>Мы работаем на рынке <strong>охранных услуг</strong> з 1997 года и соответственно знаем, как предоставить «Заказчику» надежную и эффективную услугу. В г. Киев 
      на объектах и квартирах наших клиентов реагирует <em>27 мобильных групп</em> быстрого реагирования, которые прибывают на оповещение сигнализации
      в самые короткие сроки.</li> 

      <li>Пункт центрального наблюдения оснащен всеми техническими новинками
      и оборудованием в соответствии с <a href="#">лицензионными условиями,</a> 
      что обеспечивает возможность подключения объектов любой сложности.</li>

      <li>Фирма имеет сертификат на систему управления качеством ДСТУ ISO:2009, 
      что  свидетельствует о профессионализме  работников  всех  категорий.</li> 
    </ol>
 </article>

 {% for i in range(0, 5) %}
 <article>
    <h2>Lorem ipsum dolor sit amet.</h2>

    <p>Нашими услугами пользуется  более 4-х тисяч «Клиентов».</p>
    
    <div>Мы предоставляем полный  спектр услуг:</div>
    <ul>
      <li>охранной</li>
      <li>пожарной сигнализации </li>
      <li>систем контроля доступа</li>
      <li>видеонаблюдения «под ключ». </li>
    </ul>
 </article>
 {% endfor %}
</div>
<!-- end scroll-text -->