<!-- begin services -->
<div class="services">
  {% if services.cols %}
  <div class="row">
    {% for i in services.list %}
    <div class="col-md-4 col-sm-6">
      {% if i.link %}
      <!-- begin service-item -->
      <div class="service-item service-item--link {% if i.mod %} {{ i.mod }}{% endif %}">
        <!-- begin service-link -->
        <a href="#" class="service-link">
          <span class="service-link__title link-arrow">
            <span class="link-arrow__title">Подробнее об услугах</span>
            <span class="link-arrow__arr"></span>
          </span>
        </a>
        <!-- end service-link -->
      </div>
      <!-- end service-item -->
      
      {% else %}
      <!-- begin service-item -->
      <div class="service-item{% if i.mod %} {{ i.mod }}{% endif %}">
        <div class="service-item__title">
          <div class="title title--h4 title--bold">{{ i.title | safe }}</div>
        </div>

        <div class="service-item__subttl">{{ i.subttl | safe }}</div>

        <div class="service-item__img js-lazy" data-background-image="./img/services/circle.png">
          <img data-src="./img/services/{{ i.img }}" alt="" class="js-lazy">
        </div>

        <div class="service-item__price">
          <div class="price">{{ i.price | safe }}</div>
        </div>

        <div class="service-item__btns">
          <div class="service-item__btn">
            {{ mixins.btn(
              title = 'Заказать услугу',
              mod = 'js-popup-open',
              combine = true,
              icon = mixins.icon('election-checklist-symbol'),
              href = false,
              attributes = { 'data-popup-target': 'order_service'}
            ) }}
          </div>

          <div class="service-item__link">
            <a href="#" class="link-arrow">
              <span class="link-arrow__title">Узнать об услуге</span>
              <span class="link-arrow__arr"></span>
            </a>
          </div>
        </div>
      </div>
      <!-- end service-item -->
      {% endif %}
    </div>
    {% endfor %}
  </div>

  {% else %}

  {% for i in services.list %}
  <!-- begin service-item -->
  <div class="service-item{% if i.mod %} {{ i.mod }}{% endif %}">
    <div class="service-item__img js-lazy" data-background-image="./img/services/circle.png">
      <img data-src="./img/services/{{ i.img }}" alt="" class="js-lazy">
    </div>
    
    <div class="service-item__content">
      <div class="service-item__title">
        <div class="title title--bold">{{ i.title | safe }}</div>
      </div>

      <div class="service-item__text">{{ i.text | safe }}</div>

      <div class="service-item__btns">
        <div class="service-item__btn">
          {{ mixins.btn(
            title = 'Заказать услугу',
            mod = 'js-popup-open',
            combine = true,
            icon = mixins.icon('election-checklist-symbol'),
            href = false,
            attributes = { 'data-popup-target': 'order_service'}
          ) }}
        </div>

        <div class="service-item__link">
          <a href="#" class="link-arrow">
            <span class="link-arrow__title">Узнать об услуге</span>
            <span class="link-arrow__arr"></span>
          </a>
        </div>
      </div>
    </div>    

    <div class="service-item__price">
      <div class="price">{{ i.price | safe }}</div>
    </div>

    
  </div>
  <!-- end service-item -->
  {% endfor %}

  {% endif %}
</div>
<!-- end services -->