{%set
services = {
  list: [
    {
      title: 'Охрана квартир',
      subttl: 'Охрана квартир 24/7 <br>
Время прибытия
3-7 минут',
      img: '01.png',
      price: 'От <strong>500</strong>грн/месяц'
    },
    {
      title: 'Охрана домов',
      subttl: 'Синхронизация со смартфоном, <br>
SMS уведомления. Время прибытия
3-7 минут',
      img: '02.png',
      price: 'От <strong>500</strong>грн/месяц'
    },
    {
      title: 'Охрана МАФов, киосков, <br>
кафе и ресторанов',
      subttl: 'Охрана квартир 24/7<br>
Время прибытия 3-7 минут',
      img: '03.png',
      price: 'От <strong>400</strong>грн/месяц'
    },
    {
      title: 'Физическая охрана объектов',
      subttl: 'Группы быстрого реагирования,<br> 
профессионалы своего дела',
      img: '04.png',
      price: 'От <strong>500</strong>грн/месяц'
    },
    {
      title: 'Охрана автомобилей',
      subttl: 'GPS-трекер для круглосуточного<br>
контроля и наблюдения за автомобилем, ',
      img: '05.png',
      price: 'От <strong>500</strong>грн/месяц'
    },
    {
      title: 'Тревожная сигнализация',
      subttl: 'Охрана объектов 24/7<br>
Время прибытия 3-7 минут ',
      img: '06.png',
      price: 'От <strong>400</strong>грн/месяц'
    },
    {
      title: 'Пожарная сигнализация',
      subttl: 'Группы быстрого реагирования, <br>
профессионалы своего
дела',
      img: '07.png',
      price: 'От <strong>500</strong>грн/месяц'
    },
    {
      title: 'Система видеонаблюдения',
      subttl: 'Устанавливаем все виды систем <br>
видеонаблюдения в зависимости<br>
от пожеланий клиента',
      img: '08.png',
      price: 'От <strong>500</strong>грн/месяц'
    },
    {
      title: 'Система контроля
и управления доступом',
      subttl: 'Устанавливается с учетом пожеланий клиента<br>
и использованием современных технологий.',
      img: '09.png',
      price: 'От <strong>500</strong>грн/месяц'
    },
    {
      title: 'Охрана магазинов',
      subttl: 'Комплекс технических средств<br>
с дополнительной тревожной кнопкой<br>
и пожарной сигнализацией',
      img: '10.png',
      price: 'От <strong>500</strong>грн/месяц'
    },
    {
      title: 'Охрана офисов',
      subttl: 'Выявляем слабые места вашего предприятия, <br>
с точки зрения безопасности и предоставляем<br>
комплексное решение',
      img: '11.png',
      price: 'От <strong>400</strong>грн/месяц'
    },
    {
     link: true
    }
  ]
}
%}