<!-- begin section -->
<section class="section pt-lg pb-sm">
  <div class="container">
    <div class="section__title">
      <div class="title">Расположение датчиков в квартире</div>
    </div>

    <div class="section__subttl">Мы работаем на рынке охранных услуг з 1997 года и соответственно <br>
      знаем, как предоставить заказчикам надежную <br>
    и эффективную услугу.</div>

    <!-- begin appartment -->
    <div class="appartment js-lazy" data-background-image="./img/Disain3D.jpg">
      {# .appartment__ #}
    </div>
    <!-- end appartment -->
  </div>
</section>
<!-- end section -->