<!-- begin section -->
<section class="section pt-mdl pb-sml">
  <div class="container">
    <div class="row">
      <div class="col-lg-9 col-md-8">
        <!-- begin blog-article -->
        <div class="blog-article">
          <h2>Закажите 2 комплекта Ajax и получите третий в подарок</h2>

          <p>В акции могут участвовать как новые клиенты, так и те, кто уже давно сотрудничает с нами. На организацию пультовой охраны понадобится
          некоторое время. Специалистам нужно будет осмотреть помещение, все продумать и просчитать, установить и подключить оборудование.</p>

          <figure>
            <img class="js-lazy" alt="" data-src="./img/blog-page/01.jpg"/>
            <figcaption>Демонстрация управления охранной системой с помощью смартфона</figcaption>
          </figure>

          <p>Для многих магазинов, офисов, разных предприятий и даже частных домовладений будет полезна услуга пультовой охраны. Эта услуга позволяет контролировать безопасность помещений и всего имущества, которое тут находится, с расстояния. К сожалению, в наше время случаи обворовывания помещений, варварских нападений и так далее участились. В условиях экономического кризиса уровень преступности всегда выше</p>
          <p>А так как наша страна из кризиса не выходит уже который год, то этот показатель у нас очень высокий. Поэтому лучше не рисковать и вовремя защитить свои ценности. Организация пультовой охраны – отличное решение в такой ситуации. </p>

          <blockquote>Когда требуется профессиональная организация пультовой охраны, обращаться нужно в «Берег». Мы – профи своего дела. своего дела.
          На организацию пультовой охраны понадобится некоторое время. Специалистам нужно будет осмотреть помещение, все продумать и просчитать, установить и подключить оборудование, наладить работу всей системы. </blockquote>

          <figure>
            <img class="js-lazy" alt="" data-src="./img/blog-page/02.jpg"/>
            <figcaption>Демонстрация управления охранной системой с помощью смартфона</figcaption>
          </figure>

          <p>Обслуживание пультовой охраны в Киеве обеспечивает ТОВ "Берег". Это надежная компания, на помощь которой можно рассчитывать 
          в любое время. Вам нужно, чтобы опытные люди обслуживали Ваш пульт охраны, одновременно предоставляя услуги круглосуточной охранной службы? Наша компания способна обеспечить работу пульта и сигнализации в Вашем офисе, квартире или гараже. </p>
          <p>Обезопасьте себя прямо сейчас, заказав обслуживание пультовой охраны в ТОВ "Берег". Тогда Ваш офис и все, что в нем останутся невредимыми, а в Вашу квартиру во время Вашей длительной поездки или отпуска никто не проберется. Перестраховав себя, Вы сможете уезжать заграницу или в другие длительные путешествия, не боясь вернуться "в пустую квартиру". Обслуживание пультовой охраны - это круглосуточное наблюдение за Вашими объектами. Спецбригада реагирует тут же, при поступлении к нам сигнала о тревоге.</p>
          <p>Услуги охраны стоят дороговато, но зато Вы будете уверенными в своей безопасности. Не стоит пренебрегать своими достатками и оставлять квартиру без охраны и наблюдения на долго. Установите пульт и закажите у нас обслуживание пультовой охраны. Это единственное правильное решение в наши небезопасные дни.
          ТОВ "Берег" обеспечит Вам безопасность и комфорт, а цена для Вас покажется очень доступной. Заказывайте сейчас обслуживание пультовой охраны у наших специалистов.</p>
          <p>Услуги охраны стоят дороговато, но зато Вы будете уверенными в своей безопасности. Не стоит пренебрегать своими достатками и оставлять квартиру без охраны и наблюдения на долго. Установите пульт и закажите у нас обслуживание пультовой охраны. Это единственное правильное решение в наши небезопасные дни.
          ТОВ "Берег" обеспечит Вам безопасность и комфорт, а цена для Вас покажется очень доступной. Заказывайте сейчас обслуживание пультовой охраны у наших специалистов.</p>

        </div>
        <!-- end blog-article -->
      </div>

      <div class="col-lg-3 col-md-4">
        <!-- begin aside -->
        <aside class="aside">
          <div class="aside__title">
            <div class="title title--h3">Читайте <strong>также:</strong></div>
          </div>

          {% for i in range(0, 3) %}
          <!-- begin news-item -->
          <div class="news-item news-item--sm">
            <div class="news-item__img js-lazy" data-background-image="./img/blog-page/03.jpg"></div>

            <div class="news-item__content">
              <div class="news-item__meta">
                <div class="news-item__meta-title">новости</div>
                <div class="date">28.08.2019</div>
              </div>

              <div class="news-item__title">
                <div class="title title--h5 title--bold title--accent">9 сентября пройдет международный мастер-класс по самообороне...</div>
              </div>

              <div class="news-item__btn">
                {{ mixins.btn(
                  title = 'Подробнее',
                  mod = 'btn--full',
                  combine = true,
                  icon = mixins.icon('eye')
                ) }}
              </div>
            </div>
          </div>
          <!-- end news-item -->
          {% endfor %}
        </aside>
        <!-- end aside -->
      </div>
    </div>
  </div>
</section>
<!-- end section -->