{%set
news = [
  {
    meta: { title: 'акции' },
    title: 'Акция 2+1',
    text: ''
  },
  {
    meta: { title: 'новости' },
    title: '9 сентября пройдет международный мастер-класс
по самообороне для сотрудников охранных фирм',
    text: ''
  },
  {
    meta: { title: 'акции' },
    title: 'Акция 2+1',
    text: ''
  },
  {
    meta: { title: 'новости' },
    title: '9 сентября пройдет международный мастер-класс
по самообороне для сотрудников охранных фирм',
    text: ''
  }
]
%}

<!-- begin section -->
<section class="section pt-md pb-md">
  <div class="container">
    <div class="section__title">
      <div class="title">Следите на нашими <strong>акциями и новостями</strong></div>
    </div>

    <div class="section__subttl">Мы работаем на рынке охранных услуг з 1997 года и соответственно <br>
знаем, как предоставить заказчикам надежную <br>
и эффективную услугу.</div>

    {% include "partials/_news.html" %}
  </div>
</section>
<!-- end section -->