{%set
packages = [
  {
    title: 'Соціальний пакет <strong class="accent uppercase">«РОЗСТРОЧКА»</strong>',
    price: 'От <strong>280</strong>грн/месяц',
    text: 'Монтаж і підключення квартири під охорону проводиться безкоштовно. Комплект безпровідної сигналізації «Аякс», в який входить прилад, сповіщувач на відкривання дверей, сповіщувач руху та брелок постановки під охорону, коштує 5799 грн з розстрочкою платежу під 0% на 3 місяці. Можливо встановлення додаткових сповіщувачів від затоплення, пожежі та відеокамер контролю за квартирою за окрему плату.'
  },
  {
    title: 'Пакет <strong class="accent uppercase">«СТАНДАРТНИЙ»</strong>',
    price: 'От <strong>280</strong>грн/месяц',
    text: 'Монтаж і підключення квартири під охорону проводиться безкоштовно. Комплект безпровідної сигналізації «Аякс», в який входить прилад, сповіщувач на відкривання дверей, сповіщувач руху та брелок постановки під охорону, коштує 5799 грн з розстрочкою платежу під 0% на 3 місяці. Можливо встановлення додаткових сповіщувачів від затоплення, пожежі та відеокамер контролю за квартирою за окрему плату.'
  },
  {
    title: 'Пакет <strong class="accent uppercase">«ВСЕ ВКЛЮЧЕНО»</strong>',
    price: 'От <strong>450</strong>грн/месяц',
    text: 'Комплект провідної сигналізації «ЛУНЬ» надається «Клієнту» в безкоштовне користування протягом дії Договору на охорону. Монтаж коштуватиме до 1000 грн. '
  },
  {
    title: 'Пакет <strong class="accent uppercase">«РАЗОМ З СУСІДОМ ДЕШЕВШЕ»</strong>',
    price: 'От <strong>280</strong>грн/месяц',
    text: 'Підключення двох суміжних квартир на систему безпровідної сигналізації «АЯКС» надає «Клієнту» можливість суттєво зекономити кошти: одна квартира коштуватиме 3500 грн.  Якщо буде підключення 5-6 квартир на одному поверсі ціна апаратури зменшиться і буде коштувати для одного «Клієнта» - 2900 грн.'
  },
  {
    title: 'Пакет <strong class="accent uppercase">«ПРИВЕДИ ДРУГА»</strong>',
    price: 'От <strong>500</strong>грн/месяц',
    text: 'Підключення квартири під охорону за Вашою рекомендацією надає Вам право скористатись знижкою на 50% послуги: «Тривожна сигналізація» - миттєвий виклик групи швидкого реагування для допомоги в вирішенні конкретних ситуацій або хуліганських проявів. '
  },
  {
    title: 'Об’єкти <strong class="accent uppercase">до 50 м2 </strong>',
    price: 'От <strong>500</strong>грн/месяц',
    text: '(магазини, МАФи, кіоски, павільйони, офіси, кав’ярні ): -апаратура: «ЛУНЬ-25» + сповіщувач на відкриття дверей + інфрачервоний сповіщувач   руху надаються в безкоштовне користування на період дії Договору охорони. Монтаж від 600 до 1000 грн. '
  }
]
%}

<!-- begin section -->
<section class="section s-package pt-lg pb-sm">
  <div class="container">
    <div class="section__title">
      <div class="title">Выберите свой <strong>пакет</strong></div>
    </div>

    <div class="section__subttl">Мы работаем на рынке охранных услуг з 1997 года и соответственно знаем, <br>
    как предоставить заказчикам надежную и эффективную услугу.</div>

    <!-- begin packages -->
    <div class="packages">
      <div class="row">
        {% for i in packages %}
        <div class="col-6">
          <!-- begin package -->
          <div class="package">
            <div class="package__title">
              <div class="title title--bold title--h3">{{ i.title | safe }}</div>
            </div>

            <div class="package__text">{{ i.text | safe }}</div>

              <div class="package__price">
                <div class="price">
                  <div class="price__title">Абонплата</div>
                  {{ i.price | safe }}                  
                </div>

                <div class="package__btn">
                  {{ mixins.btn(
                    title = 'Заказать защиту',
                    mod = '',
                    href = false,
                    combine = true,
                    icon = mixins.icon('shield')
                  ) }}
                </div>
              </div>
          </div>
          <!-- end package -->
        </div>
        {% endfor %}
      </div>   
    </div>
    <!-- end packages -->
  </div>
</section>
<!-- end section -->