<!-- begin section -->
<section class="section pt-md pb-mdl section--img overflow-hidden">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6">
        <div class="section__s-text">
          {% include "partials/_seo-text.html" %}
        </div>
      </div>

      <div class="col-md-6">
        <div class="section__img">
          <img class="js-lazy" alt="" data-src="./img/car-01.png"/>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end section -->