<!-- begin section -->
<section class="section pt-sml pb-sml">
  <div class="container">
    <div class="section__title text-left">
      <div class="title">Какие <strong>услуги</strong> мы предлагаем</div>
    </div>

    <div class="section__subttl text-left">Мы работаем на рынке охранных услуг з 1997 года и соответственно знаем, как предоставить заказчикам надежную и эффективную услугу.</div>

    <div class="section__services">
      {% include "partials/_services.html" %}
    </div>
  </div>
</section>
<!-- end section -->