{%set
services = {
  list: [
    {
      title: 'Охрана квартир',
      subttl: 'Охрана квартир 24/7 <br>
Время прибытия
3-7 минут',
      img: '01.png',
      price: 'От <strong>500</strong>грн/месяц'
    },
    {
      title: 'Охрана домов',
      subttl: 'Синхронизация со смартфоном, <br>
SMS уведомления. Время прибытия
3-7 минут',
      img: '02.png',
      price: 'От <strong>500</strong>грн/месяц'
    },
    {
      title: 'Охрана МАФов, киосков, <br>
кафе и ресторанов',
      subttl: 'Охрана квартир 24/7<br>
Время прибытия 3-7 минут',
      img: '03.png',
      price: 'От <strong>400</strong>грн/месяц'
    },
    {
      title: 'Физическая охрана объектов',
      subttl: 'Группы быстрого реагирования,<br> 
профессионалы своего дела',
      img: '04.png',
      price: 'От <strong>500</strong>грн/месяц'
    },
    {
      title: 'Охрана автомобилей',
      subttl: 'GPS-трекер для круглосуточного<br>
контроля и наблюдения за автомобилем, ',
      img: '05.png',
      price: 'От <strong>500</strong>грн/месяц'
    },
    {
      title: 'Тревожная сигнализация',
      subttl: 'Охрана объектов 24/7<br>
Время прибытия 3-7 минут ',
      img: '06.png',
      price: 'От <strong>400</strong>грн/месяц'
    },
    {
      title: 'Пожарная сигнализация',
      subttl: 'Группы быстрого реагирования, <br>
профессионалы своего
дела',
      img: '07.png',
      price: 'От <strong>500</strong>грн/месяц'
    },
    {
      title: 'Система видеонаблюдения',
      subttl: 'Устанавливаем все виды систем <br>
видеонаблюдения в зависимости<br>
от пожеланий клиента',
      img: '08.png',
      price: 'От <strong>500</strong>грн/месяц'
    },
    {
      title: 'Система контроля
и управления доступом',
      subttl: 'Устанавливается с учетом пожеланий клиента<br>
и использованием современных технологий.',
      img: '09.png',
      price: 'От <strong>500</strong>грн/месяц'
    },
    {
      title: 'Охрана магазинов',
      subttl: 'Комплекс технических средств<br>
с дополнительной тревожной кнопкой<br>
и пожарной сигнализацией',
      img: '10.png',
      price: 'От <strong>500</strong>грн/месяц'
    },
    {
      title: 'Охрана офисов',
      subttl: 'Выявляем слабые места вашего предприятия, <br>
с точки зрения безопасности и предоставляем<br>
комплексное решение',
      img: '11.png',
      price: 'От <strong>400</strong>грн/месяц'
    },
    {
     link: true
    }
  ]
}
%}

<!-- begin section -->
<section class="section pt-sml pb-sml">
  <div class="container">
    <div class="section__title text-left">
      <div class="title">Какие <strong>услуги</strong> мы предлагаем</div>
    </div>

    <div class="section__subttl text-left">Мы работаем на рынке охранных услуг з 1997 года и соответственно знаем, как предоставить заказчикам надежную и эффективную услугу.</div>

    <div class="section__services">
      <!-- begin services -->
      <div class="services">
        <div class="row">
          {% for i in services.list %}
          <div class="col-md-4 col-sm-6">
            {% if i.link %}
            <!-- begin service-item -->
            <div class="service-item service-item--link">
              <!-- begin service-link -->
              <a href="#" class="service-link">
                <span class="service-link__title link-arrow">
                  <span class="link-arrow__title">Подробнее об услугах</span>
                  <span class="link-arrow__arr"></span>
                </span>
              </a>
              <!-- end service-link -->
            </div>
            <!-- end service-item -->
            
            {% else %}
            <!-- begin service-item -->
            <div class="service-item">
              <div class="service-item__title">
                <div class="title title--h4">{{ i.title | safe }}</div>
              </div>

              <div class="service-item__subttl">{{ i.subttl | safe }}</div>

              <div class="service-item__img js-lazy" data-background-image="./img/services/circle.png">
                <img data-src="./img/services/{{ i.img }}" alt="" class="js-lazy">
              </div>

              <div class="service-item__price">
                <div class="price">{{ i.price | safe }}</div>
              </div>

              <div class="service-item__btns">
                <div class="service-item__btn">
                  {{ mixins.btn(
                    title = 'Заказать услугу',
                    mod = '',
                    combine = true,
                    icon = mixins.icon('election-checklist-symbol'),
                    href = false
                  ) }}
                </div>

                <div class="service-item__link">
                  <a href="#" class="link-arrow">
                    <span class="link-arrow__title">Узнать об услуге</span>
                    <span class="link-arrow__arr"></span>
                  </a>
                </div>
              </div>
            </div>
            <!-- end service-item -->
            {% endif %}
          </div>
          {% endfor %}
        </div>
      </div>
      <!-- end services -->
    </div>
  </div>
</section>
<!-- end section -->