<!-- begin section -->
<section class="section s-tech pt-md pb-md">
  <div class="container">
    <div class="section__title">
      <div class="title">Используем <strong>последние технологии</strong></div>
    </div>

    <div class="section__subttl">Мы работаем на рынке охранных услуг з 1997 года и соответственно <br>
      знаем, как предоставить заказчикам надежную <br>
    и эффективную услугу.</div>

    {% include "partials/_features-circel.html" %}
  </div>
</section>
<!-- end section -->