.form
  &__row
    margin-left: -2px
    margin-right: -2px
    +flex(flex-start, normal, row, wrap)
    margin-bottom: 10px
  &__col
    width: 33.33333%
    padding-left: 2px
    padding-right: 2px

.input
  input
    background-color: $white
    padding: 5px 15px
    height: 45px
    width: 100%
    +placeholder
      color: $gray-light
