.header
  $this: &
  background-color: $white
  position: relative
  z-index: 10
  color: $black
  &__top
    border-bottom: 1px solid $white-dark
  &__bottom
    padding-left: 50px
    #{$this}__inner
      justify-content: space-between
  &__inner
    +flex(flex-start, center)
    padding-top: 12px
    padding-bottom: 12px
  &__contacts
    flex-grow: 1
  &__lang
    text-align: center
    flex: 0 0 210px

.header-contacts
  +flex(flex-start, center)

.header-contact
  width: 33.33333%
  padding-top: 10px
  padding-bottom: 10px
  font-size: 21px
  font-weight: 500
  text-align: center
  +notlast
    border-right: 1px solid  $white-dark

.lang
  $this: &
  position: relative
  text-align: left
  display: inline-block
  padding-left: 15px
  padding-right: 15px
  &:hover
    #{$this}__list
      display: block
  &__title
    display: block
    position: relative
    // padding-right: 15px
    +after
      +icon-arrow(8, 8, 1, currentColor, -45)
      display: inline-block
      margin-left: 10px
      position: relative
      top: -.2em
  &__list
    position: absolute
    z-index: 1
    left: 0
    width: 100%
    top: 100%
    padding-top: 10px
    background-color: $white
    padding-left: 15px
    padding-right: 15px
    display: none
  &__link
    display: block
    margin-bottom: 10px