.hero
  text-align: center
  &--slider
    text-align: left
 
.hero-inner
  color: $white
  position: relative
  overflow: hidden
  // +cover
  +lg
    .home &
      +before
        +coverdiv
        background-color: rgba($black, .6)
        z-index: 1
  .container
    width: 100%
    flex-grow: 1
    +flex(center, normal, column)
  &__bg
    z-index: 0
    +coverdiv
    +cover
    +tr(transform .3s)
  &__content
    position: relative
    z-index: 2
    padding-top: 25px
    padding-bottom: 25px
    min-height: 30vh
    +flex(center, normal, column)
    .is-ie &
      height: 30vh
      min-height: 0
    .home &
      min-height: calc(100vh - #{$header-height})
    .is-ie .home &
      min-height: 0
      height: calc(100vh - #{$header-height})
    +md
      .home &
        min-height: calc(100vh - #{$header-height-md})
      .is-ie .home &
        min-height: 0
        height: calc(100vh - #{$header-height-md})
    +xs
      .home &
        min-height: calc(100vh - #{$header-height-xs})
      .is-ie .home &
        min-height: 0
        height: calc(100vh - #{$header-height-xs})
  &__uptitle
    margin-bottom: 10px
    font-size: 18px
    text-transform: uppercase
    font-weight: 400
  &__uptitle-sm
    font-size: $fz-xs
    color: $c-text
    font-weight: 700
  &__title
    margin-bottom: 15px
    +md
      margin-bottom: 10px
  &__subttl
    margin-bottom: 35px
    +lg
      margin-bottom: 25px
    +md
      margin-bottom: 15px
  &__subttl-sm
    font-size: $fz-xs
    color: $c-text
  &__btns
    margin-bottom: 40px
    +flex(flex-start, center)
    +lg
      margin-bottom: 30px
    +md
      margin-bottom: 15px
    +sm
      display: block
  &__btn
    +notlast
      margin-right: 30px
      +sm
        margin-right: 0
        margin-bottom: 15px