.hero
  text-align: center
  &--slider
    text-align: left
 
.hero-inner
  color: $white
  position: relative
  +cover
  +lg
    +before
      +coverdiv
      background-color: rgba($black, .1)
      z-index: 0
  .container
    width: 100%
    flex-grow: 1
    +flex(center, normal, column)
  &__content
    position: relative
    z-index: 1
    padding-top: 25px
    padding-bottom: 25px    
    +flex(center, normal, column)
    min-height: calc(100vh - #{$header-height})
    .is-ie &
      min-height: 0
      height: calc(100vh - #{$header-height})
    +md
      min-height: calc(100vh - #{$header-height-md})
      .is-ie &
        min-height: 0
        height: calc(100vh - #{$header-height-md})
    +xs
      min-height: calc(100vh - #{$header-height-xs})
      .is-ie &
        min-height: 0
        height: calc(100vh - #{$header-height-xs})
  &__uptitle
    margin-bottom: 10px
    font-size: 18px
    text-transform: uppercase
    font-weight: 400
  &__title
    margin-bottom: 15px
    +md
      margin-bottom: 10px
  &__subttl
    margin-bottom: 35px
    +lg
      margin-bottom: 25px
    +md
      margin-bottom: 15px
  &__btns
    margin-bottom: 40px
    +flex(flex-start, center)
    +lg
      margin-bottom: 30px
    +md
      margin-bottom: 15px
    +sm
      display: block
  &__btn
    +notlast
      margin-right: 30px
      +sm
        margin-right: 0
        margin-bottom: 15px