.section
  position: relative
  .container
    position: relative
    z-index: 1
  &__title
    margin-bottom: 15px
    text-align: center
    +sm
      margin-bottom: 10px
  &__subttl
    margin-bottom: 50px
    text-align: center
    max-width: 600px
    margin-left: auto
    margin-right: auto
    +lg
      margin-bottom: 40px
    +md
      margin-bottom: 25px
    +sm
      margin-bottom: 15px
      br
        display: none
  &__img
    font-size: 0
  &__s-text
    +sm
      margin-bottom: 25px

  &--gray
    background-color: $gray
  &--simple
    padding-top: 50px
    padding-bottom: 50px
    +xl
      padding-top: 40px
      padding-bottom: 40px
    +lg
      padding-top: 30px
      padding-bottom: 30px
  &--img
    .lazy
      &.is-loaded
        position: relative
        right: -15%
        +lg
          right: auto
  &--bg
    +cover

.section-img
  position: absolute
  font-size: 0
  z-index: 0
  &.is-bottom
    bottom: 0
  &.is-right
    right: 0
  &.is-right-100
    right: 10%
  &.is-right-50
    right: 5%

.s-call
  +sm
    .section-img
      display: none
  &--mt
    margin-top: 125px
    +md
      margin-top: 100px
    +sm
      // margin-top: 100px
      margin-top: 0
    // +xs
    //   margin-top: 50px
    // +r(374)
    //   margin-top: 0
